.prevent-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header {
  height: 75px;
}

.head-logo {
  margin-left: 10px;
}

.route-item img {
  height: 40px;
}

.profile-logo img {
  height: 50px;
  display: inline-block;
  border-radius: 60px;
  border: solid 2px black;
  padding: 0em;
}

.route-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 30px;
}

.collapse-button img {
  height: 25px;
}

.filter-card {
  margin: 15px auto;
}

.filter-form {
  input,
  select,
  button {
    margin: 10px auto;
  }
}

.event-header {
  margin: 22.5px auto;
}

.event-body {
  margin: 10px auto;
}
